@import "../utils/brakepoints";

.logo--footer {
    font-family: var(--logo-fonts);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--accent-color);
}

.logo-studio--footer {
    color: var(--white-color);
}

.address {
    color: var(--white-color);
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address p,
.address__mail,
.address__phone{
    display: block;
    margin-top: 9px;
}
       
.address__mail,
.address__phone {
    font-style: normal;
    text-decoration: none;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: var(--accent-color);
    }
}

.social-links {
    display: flex;
}

.social-links__item {
    list-style-type: none;
    width: 44px;
    height: 44px;
}

.social-links__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    background-color: var(--accent-color);
    fill: var(--white-color);
    border-radius: 50%;
    }
}


.social-links__item + .social-links__item {
    margin-left: 10px;
}


.social-links__icon {
    width: 20px;
    height: 20px;
    fill: var(--white-color);
}

.join__title,
.footer-form__title {
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    margin-bottom: 20px;
    margin-top: 12px;
    text-align: center;
}

@include desktop {
    .join__title,
    .footer-form__title {
    text-align: start;
}
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}



@include tablet {
    .footer__container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-around;
    }
}

@include desktop {
    .footer__container {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
    }
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    text-align: center;
}

@include desktop {
    .footer__contacts {
        margin-right: 70px;
    }
}

@media screen and (max-width:767px) {
    .join {
        margin: 60px auto;
    }
}



@include tablet {
    .join {
        //margin-left: 165px;
    }
}
