@import "../utils/brakepoints";

.hero {
    max-width: 100%;
    min-width: 480px;
    height: 400px;
    background-color: var(--secondary-background-color);
    color: var(--white-color);
    //padding-top: 200px;
    //padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: inherit;
    margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-mobile@2x.jpg');
  }
}

@include tablet {
    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-tab.jpg);
        width: 1200px;
        background-size: cover;
    }
}

@media not all, screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), 
screen and (min-width: 768px) and (min-resolution: 2dppx), 
screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-tab@2x.jpg');
    width: 1200px;
    background-size: cover;
  }
}

@include desktop {
    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-desk.jpg);
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
        width: 1600px;
        background-size: cover;
    }
}

@media not all, screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), 
screen and (min-width: 1200px) and (min-resolution: 2dppx), 
screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-desk@2x.jpg');
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    width: 1600px;
    background-size: cover;
  }
}

.hero__title {
    padding-bottom: 30px;
    font-size: 26px;
    line-height: 1.62;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

@include desktop {
    .hero__title {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero__button {
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    background-color: var(--accent-color);
    color: var(--white-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        background-color: var(--primary-background-color);
        color: var(--accent-color);
    }
}

.hero__thumb {
    padding-top: 118px;
}

@include desktop {
    .hero__thumb {
        padding: 0;
    }
}

.hero__section {
    padding: 0;
}