:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --white-color:#FFFFFF;
    --primary-background-color:#FFFFFF;
    --secondary-background-color:#2F303A;
    --primary-border-color: #AFB1B8;
    --third-background: #F5F4FA;
    --label-color: #757575;
    --header-border-color: #ECECEC;
    --portfolio-border-color: #EEEEEE;
    --primary-fonts: "roboto", sans-serif;
    --logo-fonts: "Raleway", sans-serif;
}